<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>


<div class="main_container">

    <div class="board_container">
        <table id="player" class="battleGrid">
        </table>


        <table id="opponent" class="battleGrid">
        </table>
    </div>
    
    <div class="lower_container">
        <div class="button_panel">
            <ul>
                <li><button id="place_minesweeper">Place Minesweeper</button></li>
                <li><button id="place_destroyer">Place Destroyer</button></li>
                <li><button id="place_battleship">Place Battleship</button></li>
                <li><button id="place_submarine">Place Submarine</button></li>
                <li><button id="place_sonar_pulse">Place Sonar Pulse</button></li>
                <li><button id="move_n">Move North</button></li>
                <li><button id="move_e">Move East</button></li>
                <li><button id="move_s">Move South</button></li>
                <li><button id="move_w">Move West</button></li>

                <li><input type="checkbox" id="is_vertical">Vertical</input></li>
                <li><input type="checkbox" id="is_submerged">Submerged</input></li>
            </ul>
        </div>

        <div class="log_container">
            <div id="inf_table">
                <p>Test to see if its able to scroll.</p>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
